.section .page-inner {
    width: 1440px;
}

.container-inner {
    width: 1440px;
    font-size: 0;
}

.content-wrap {
    text-align: left;
}

.content-item {
    width: 218px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.content-item .image-item-wrap {
    height: 250px;
    line-height: 250px;
    overflow: hidden;
    position: relative;
}

.content-item .text-item-wrap {
    margin: 8px;
}

.content-item .image-item-wrap .image-item {
    height: 100%;
}

.content-item:hover .image-item {
    position: absolute;
    right: 0;
    left: 0;
    top: -12px;
    bottom: -12px;
    height: 110%;
    animation-duration: 0.2s;
    animation-name: wideUp;
    animation-fill-mode: both;
}


.content-item p,
.content-item div {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #fff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content-item .text-item-wrap {
    margin: 8px;
}

.content-item p.item-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.content-item p.item-date {
    font-weight: 200;
}

.content-item div.item-content {
    height: 20px;
}


@media (max-width: 840px) {
    .section .page-inner {
        width: 100%;
    }

    .container-inner {
        width: 100%;
    }
}
