.container-inner {
    width: 1440px;
    margin: 0 auto;
}

.container-wrap {
    position: relative;
}

.container-wrap > img {
    width: 1071px;
}

.container-inner .message {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.container-inner .error-message-wrap {
    font-weight: normal;
}

.container-inner .error {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

.container-inner .content-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 220px;
}

.content-box img {
    max-width: 90%;
}

.container-inner .button-wrap {
    margin-top: 40px;
}


@media (max-width: 840px) {
    .container-inner {
        width: 100%;
    }

    .container-inner .content-box {
        top: auto;
        bottom: 150px;
    }

}
