.container-wrap {
    font-size: 0;
}

.container-wrap > div {
    display: inline-block;
    vertical-align: top;
}

.container-wrap .content-box {
    width: calc(65% - 40px);
    min-height: 600px;
    margin-right: 40px;
}

.container-wrap .side-content-box {
    width: 35%;
}

.date-box {
    text-align: left;
}

.date-box p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}

/* ------ box1 ------ */

.reward-box {
    text-align: left;
}

.reward-box .reward-wrap {
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    margin-top: 20px;
}

.reward-box .line {
    background: #E2E8F0;
}

.reward-box .reward-wrap p {
    font-size: 18px;
    color: #fff;
}

.reward-box .reward-wrap .title {
    font-size: 22px;
    font-weight: 400;
}

.reward-box .reward-wrap .content {
    margin: 5px;
    min-height: 50px;
}

.reward-box .reward-wrap .total-count {
    text-align: right;
}

.reward-box .reward-wrap .price {
    font-size: 20px;
    text-align: right;
    font-weight: 400;
}

.payment-box {
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    margin-top: 20px;
    text-align: left;
}

.payment-box .limited-count-wrap * {
    color: #fff;
    vertical-align: middle;
}

.payment-box .limited-count-wrap .title {
    font-size: 20px;
    font-weight: 400;
}

.payment-box .limited-count-wrap .content {
    color: #E2E8F0;
    font-size: 18px;
}

.payment-box input {
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
    background: none;
    color: #fff;
    border: none;
    border-bottom: 1px solid #E2E8F0;
}

.payment-box .total-price {
    text-align: right;
    color: #FF7A00;
    font-size: 30px;
    font-weight: 600;
}

/* ------ box2 ------ */

.request-wrap {
    text-align: left;
}

.request-wrap .form-wrap {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    margin-top: 20px;
}

.request-wrap .form-wrap .input-title {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.request-wrap .form-wrap .input-wrap input:not([hidden]):not([type=checkbox]):not([type=radio]),
.request-wrap .form-wrap .input-wrap textarea,
.request-wrap .form-wrap .input-wrap select {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.request-wrap .form-wrap .input-wrap select option {
    color: #000;
}

.request-wrap .form-wrap .input-wrap select {
    width: 400px;
    height: 40px;
    padding: 0 10px;
}

.request-wrap .form-wrap .mine .input-item-wrap * {
    display: inline-block;
    vertical-align: middle;
    line-height: 35px;
}

.request-wrap .form-wrap .mine label {
    font-size: 18px;
    color: #fff;
    padding: 0 10px;
}

.request-wrap .form-wrap .mine input {
    width: 20px;
    height: 20px;
    accent-color: #FF7A00;
}

.request-wrap .form-wrap .inquirer input {
    margin-bottom: 10px;
    line-height: 40px;
}

.request-wrap .form-wrap .comment textarea {
    height: 120px;
}

.request-wrap .form-wrap .agree .input-title {
    width: auto;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

/*체크박스 커스텀*/
.request-wrap .form-wrap .agree input {
    appearance: none; /* 원래 제공되는 체크박스 없애기 */
    border-radius: 50%; /* 동그랗게 만들기 */
    border: 2px solid #FF7A00;
}

.request-wrap .form-wrap .agree input:checked {
    background: #FF7A00;
    position: relative;
}

.request-wrap .form-wrap .agree input:checked:before {
    content: '';
    color: transparent;
    display: block;
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background: url('/asset/images/custom/check.svg') 100%;
}

.container-inner .container-wrap .button-wrap {
    margin-top: 20px;
}

.container-inner .container-wrap .button {
    margin: 0 10px;
}

/* 진행 상황 확인 용 배지 */
.stage-box {
    width: 390px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.stage-box:before {
    content: "";
    display: block;
    position: absolute;
    left: 65px;
    right: 65px;
    top: 15px;
    height: 2px;
    background: #FF7A00;
}

.stage-box .step-wrap {
    width: 130px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
}

.stage-box .step-wrap .circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 2px solid #FF7A00;
    background: #121114;
    display: inline-block;
}

.stage-box .step-wrap .circle img {
    vertical-align: middle;
}

.stage-box .step-wrap.selected .circle {
    background: #FF7A00;
}

.stage-box .step-wrap:not(.selected) img {
    display: none;
}

.stage-box .step-wrap .text-wrap {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #232127;
    word-break: keep-all;
}

.stage-box .step-wrap.selected .text-wrap {
    color: #fff;
}

.container-inner .button-wrap {
    margin-top: 10px;
    text-align: center;
}

.container-inner .button.button-fill {
    color: #fff;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 100px;
    font-weight: 400;
    background: #FF7A00;
}

.container-inner .button.button-line {
    color: #fff;
    padding: 8px 38px;
    font-size: 18px;
    border-radius: 100px;
    color: #FF7A00;
    font-weight: 600;
    border: 2px solid #FF7A00;
}

.container-inner .button.button-line.disabled {
    color: #232127;
    cursor: auto;
    border: 2px solid #232127;
}

.page-sub-title {
    margin: 20px 0 10px 0;
    padding: 0 8px 0 5px;
    display: inline-block;
    position: relative;
}

.page-sub-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: #FF7A00;
}

@media (max-width: 840px) {
    .container-wrap .content-box,
    .container-wrap .side-content-box {
        width: 100%;
        padding: 0 10px;
        margin-right: 0;
        box-sizing: border-box;
    }

}
