.section .page-inner {
    width: 1440px;
}

.container-inner {
    width: 1400px;
}

.scroll-control-button-wrap {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 0;
}

.scroll-control-button-wrap .button {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
}

.scroll-control-button-wrap .button img {
    vertical-align: middle;
}

.scroll-horizontal-wrap {
    overflow-x: scroll;
    font-size: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.background {
    height: 350px;
    position: relative;
}

.background.pc-only {
    display: block !important;
}

.background .overlap-text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
}

.background .overlap-text-box .overlap-text-wrap {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.background .overlap-text-box .text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 30px;
    text-align: left;
    line-height: 45px;
    color: #fff;
}

.background .overlap-text-box .text-wrap p {
    font-size: 40px;
    font-weight: 600;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -2px;
}

#artists .content-box.relation .content-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#artists .content-box.relation .content-wrap-inner {
    height: 205px;
}

#artists {
    position: relative;
}

#artists .content-item {
    width: 170px;
    display: inline-block;
    margin: 0 5px;
}

#artists .content-item .image-item-wrap {
    text-align: center;
}

#artists .content-item .image-item {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
}

#artists .content-item.selected .image-item {
    border: 4px solid #FF7A00;
}

#artists .content-item p {
    font-size: 20px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    color: #fff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#artists .content-item p.item-content {
    display: none;
}

#artists .content-item p.item-title {
    margin-top: 10px;
    font-weight: 600;
}

#artists .line {
    margin-top: 40px;
    background: #232127;
}

.container-wrap {
    font-size: 0;
}

.container-wrap > div {
    display: inline-block;
    vertical-align: top;
}

.container-wrap .content-box {
    width: calc(65% - 40px);
    margin-right: 40px;
}

.container-wrap .side-content-box {
    width: 35%;
}


.artist-box {
    text-align: left;
    color: #A3A3A3;
}

.artist-box .title-text-wrap {
    line-height: 60px;
}

.artist-box .title-text-wrap * {
    display: inline-block;
    vertical-align: middle;
}

.artist-box .title-text-wrap .name {
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
}

.artist-box .title-text-wrap .job {
    font-size: 20px;
}

.artist-box .content-text-wrap {
    min-height: 100px;
    font-size: 20px;
    margin: 5px;
}

.artist-box .preview-wrap {
    padding-top: 40px;
    position: relative;
}

.artist-box .preview-wrap .scroll-control-button-wrap {
    top: 0;
}

.artist-box .content-item {
    width: 170px;
    height: 303px;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.artist-box .slick .slick-item .time-string {
    font-size: 16px;
    color: white;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 10px;
}

.project-wrap {
    text-align: left;
    margin-top: 40px;
}

.project-wrap > div {
    font-size: 18px;
    color: #fff;
    min-height: 200px;
    padding: 10px 20px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

.project-wrap .guide-wrap .title {
    font-weight: 600;
    font-size: 22px;
    margin: 5px 0;
}

.project-wrap .guide-content-wrap {
    margin: 10px 5px;
}

.project-wrap .guide-content-wrap .sub-title {
    font-weight: 600;
    color: #FFAE00;
}

.project-wrap .guide-content-wrap .content {
    font-size: 0;
    margin: 5px 0;
}

.project-wrap .guide-content-wrap .content * {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
}

.project-wrap .guide-content-wrap .content p {
    width: calc(100% - 30px);
    font-size: 18px;
    color: #A3A3A3;
}

.project-wrap .guide-content-wrap .content:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #A3A3A3;
    margin: 11px;
}

.date-box {
    text-align: left;
}

.date-box p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}

.reward-box {
    text-align: left;
}

.reward-box .reward-wrap {
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    margin-top: 20px;
}

.reward-box .line {
    background: #E2E8F0;
}

.reward-box .reward-wrap p {
    font-size: 18px;
    color: #fff;
}

.reward-box .reward-wrap .title {
    font-size: 22px;
    font-weight: 400;
}

.reward-box .reward-wrap .content {
    margin: 5px;
    min-height: 50px;
}

.reward-box .reward-wrap .remaining-count {
    text-align: right;
    font-size: 20px;
    color: #FF7A00;
    font-weight: 600;
}

.reward-box .reward-wrap .available-count {
    text-align: right;
    color: #A3A3A3;
}

.reward-box .reward-wrap .limited-count {
    text-align: right;
}

.reward-box .reward-wrap .price {
    font-size: 20px;
    text-align: right;
    font-weight: 400;
}

.container-inner .button-wrap {
    margin-top: 20px;
    text-align: center;
}

.page-sub-title {
    margin: 20px 0 10px 0;
    padding: 0 8px 0 5px;
    display: inline-block;
    position: relative;
}

.page-sub-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: #FF7A00;
}

.button.purchase {
    width: calc(100% - 40px);
    box-sizing: border-box;
}

@media (max-width: 840px) {
    .background {
        height: 300px;
        position: relative;
    }

    .background.pc-only {
        display: none !important;
    }

    .background.mobile-only {
        display: block !important;
    }

    .background .overlap-text-box .text-wrap {
        max-width: calc(100% - 40px);
    }

    .section .page-inner {
        width: 100%;
    }

    .container-inner {
        width: 100%;
        padding-top: 0;
    }

    .container-inner .container-wrap {
        padding-top: 20px;
    }

    .container-wrap .content-box,
    .container-wrap .side-content-box {
        width: 100%;
        padding: 0 10px;
        margin-right: 0;
        box-sizing: border-box;
    }

    #artists .content-item {
        width: 120px;
    }

    #artists .content-item .image-item {
        width: 80px;
        height: 80px;
    }

    #artists .content-item p {
        font-size: 18px;
    }

    #wrap {
        padding-bottom: 60px;
    }

    .side-content-box .button-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        line-height: 60px;
        z-index: 1;
    }

    .side-content-box .button-wrap .button {
        width: 100%;
        border-radius: 0;
        padding: 0;
    }
}
