.uploader.media .upload-item-add,
.uploader.media .upload-item {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
}


.uploader .upload-item-add input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.uploader .upload-item {
    position: relative;
}

.uploader .upload-item .size-text {
    position: absolute;
    bottom: 0;
    padding: 5px;
    line-height: 20px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.uploader .upload-item-add {
    border: 1px solid #fff;
}

.uploader .upload-item-add input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.uploader .upload-item-add label {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.uploader .upload-item-hover {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.uploader .upload-item:hover .upload-item-hover {
    display: inline-block;
}

.uploader .upload-item-hover .button.delete-image {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.uploader .upload-item-hover .button.delete-image * {
    vertical-align: middle;
}

.input-uploader-wrap {
    display: flex;
    max-width: 100%;
    height: 260px;
}

.input-uploader-wrap .input-wrap {
    flex: 1;
}

@media (max-width: 840px) {
    .uploader.media .upload-item-add,
    .uploader.media .upload-item {
        max-width: 200px;
        width: 100%;
        margin: 0;
    }

}
