
.slider-box .slider-wrap {
    padding: 0;
}

.slider-box .slider-wrap .slick-item {
    height: 250px;
    line-height: 200px;
    text-align: center;
    border: 1px solid #eee;
    margin: 10px 10px;
    position: relative;
}

.item-selector .slider-box .slider-wrap .slick-item {
    height: 323px;
}

.item-selector .slider-box .slider-wrap .slick-item .image-item {
    height: 250px;
    line-height: 200px;
}

.item-selector .slider-box .slider-wrap .slick-item p {
    font-size: 18px;
    padding: 0 10px;
    line-height: 25px;
    text-align: left;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-selector .slider-box .slider-wrap .slick-item .text-item-wrap {
    margin: 10px 0;
}

.item-selector .slider-box .slider-wrap .slick-item p.item-title {
    font-weight: 600;
}

.item-selector.previous-project {
    margin-bottom: 40px;
}

.item-selector .input-wrap {
    text-align: left;
    line-height: 20px;
    padding: 0px 20px 5px 20px;
}

.item-selector .input-wrap * {
    display: inline-block;
    vertical-align: middle;
}

.item-selector .input-wrap .input-title {
    font-size: 16px;
    font-weight: 300;
}

/*팝업 커스텀*/
.popup-search .pages {
    height: 50px;
    line-height: 50px;
}

.popup-search.popup-wrap .popup-box.has-control-button .popup-inner {
    padding: 20px 20px 45px 20px;
}

.popup-search .selected {
    background-color: #efefef;
}

@media (max-width: 840px) {
    .slider-box .slider-wrap .slick-item {
        margin: 5px;
    }
}
