
.slider-box .slider-wrap {
    padding: 0;
}

.slider-box .slider-wrap .slick-item {
    height: 250px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
    border: 1px solid #eee;
    margin: 24px 10px;
}
