.container-inner {
    min-height: auto;
}

.container-inner > div {
    min-height: 400px;
}

.form-wrap .input-wrap input:not([type=checkbox]):not([type=radio]),
.form-wrap .input-wrap textarea {
    width: 100%;
    font-weight: 200;
}

.form-wrap .input-wrap .uploader,
.form-wrap .input-wrap input:not([type=checkbox]):not([type=radio]),
.form-wrap .input-wrap textarea {
    width: calc(100% - 40px);
    margin: 10px 10px 20px 10px;
}

.form-wrap .input-wrap.inline .input-title {
    width: auto;
}

.form-wrap .input-wrap.status {
    padding: 20px 0;
}

.row-uploader.reward .row-uploader-item {
    height: auto;
    line-height: normal;
}

.row-uploader.reward .row-uploader-item input,
.row-uploader.reward .row-uploader-item textarea {
    width: calc(100% - 40px);
    margin: 5px 10px 10px 10px;
}

.row-uploader.reward .row-uploader-item .input-wrap {
    margin: 0;
}

.row-uploader.reward .row-uploader-item .input-wrap.price input {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
}

.row-uploader.reward .row-uploader-item .input-wrap.price .description {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
}

.form-wrap .row-uploader.reward .row-uploader-item .input-wrap input:not([type=checkbox]):not([type=radio]),
.form-wrap .row-uploader.reward .row-uploader-item .input-wrap textarea {
    margin: 0 10px 10px 10px
}

.row-uploader.reward .row-uploader-item > div {
    width: 100%;
}

.row-uploader.reward .row-uploader-item .column > div {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.input-wrap.hash .button {
    margin: 10px 10px 0px 10px;
}
.input-wrap.hash .button * {
    display: inline-block;
    vertical-align: middle;
}

.input-wrap.hash .button span {
    font-size: 18px;
}

@media (max-width: 840px) {
    .form-wrap .input-wrap {
        padding: 0 15px;
    }

    .slider-box .title {
        margin-left: 15px;
    }

    .row-uploader.artist .row-uploader-item {
        height: auto;
        line-height: normal;
    }

    .row-uploader.artist .row-uploader-item .info-wrap {
        width: calc(100% - 170px);
        height: auto;
        max-height: 220px;
    }

    .row-uploader.artist .row-uploader-item .profile {
        width: 150px;
        height: 150px;
    }
}
