.table-wrap {
    margin-top: 20px;
}

#container .table-wrap .row .row-button .column {
    text-overflow: unset;
    white-space: normal;
    vertical-align: top;
    word-break: normal;
}

.table-wrap .column.title {
    width: 25%;
}

.table-wrap .column.remaining-count {
    width: 10%;
    text-align: center;
}

.table-wrap .column.purchased-count {
    width: 10%;
    text-align: center;
}

.table-wrap .column.uploaded-count {
    width: 10%;
    text-align: center;
}

.table-wrap .column.price {
    width: 15%;
    text-align: right;
}

.table-wrap .column.is-deleted {
    width: 10%;
    text-align: center;
}

.table-wrap .column.created-at {
    width: 20%;
    text-align: right;
}

.project-box {
    padding: 20px 15px;
    border: 1px solid #000;
    margin: 10px 0;
}

.project-box p {
    font-size: 18px;
}

.project-box .project-wrap > div {
    display: inline-block;
    vertical-align: top;
}

.project-box .project-wrap .image-wrap {
    width: 150px;
    height: 150px;
}

.project-box .project-wrap .content-wrap {
    margin-left: 20px;
    width: calc(100% - 170px);
    text-align: left;
}

.project-box .project-wrap .title {
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
}

.project-box .project-wrap .access-url-wrap .title {
    font-size: 18px;
}

.project-box .project-wrap .content {
    margin: 5px;
    min-height: 50px;
}

.report-wrap .text-wrap {
    display: inline-block;
    width: 33%;
    padding: 20px 0;
}

.report-wrap .text-wrap div {
    font-size: 16px;
}

.report-wrap .text-wrap .title {
    font-weight: 600;
}

@media (max-width: 840px) {
    .project-wrap {
        margin: 10px;
    }

    #container .table-wrap {
        overflow: scroll;
    }
    .table-wrap .row-title,.table-wrap .row {
        width: 160vw;
        box-sizing: border-box;
    }

    .table-wrap .column.title {
        width: 20%;
    }

    .table-wrap .column.remaining-count {
        width: 15%;
    }

    .table-wrap .column.purchased-count {
        width: 15%;
    }

    .table-wrap .column.uploaded-count {
        width: 15%;
    }

    .table-wrap .column.price {
        width: 20%;
        text-align: right;
    }

    .table-wrap .column.is-deleted {
        width: 15%;
        text-align: right;
    }

    .table-wrap .column.created-at {
        display: none;
    }
}
