
.reward-box {
    text-align: left;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px 0;
}

.reward-wrap p {
    font-size: 18px;
}

.reward-wrap .title {
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.reward-wrap .content {
    margin: 5px;
    min-height: 50px;
    max-height: 150px;
    overflow: hidden;
}

.reward-wrap, .count-wrap {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}

.count-wrap {
    width: 30%;
    text-align: right;
}

.count-wrap .text-wrap * {
    font-size: 16px;
    display: inline-block;
}

.count-wrap .text-wrap .title {
    font-weight: 400;
    margin-right: 10px;
}

.purchase-item-wrap {
    text-align: left;
    margin: 10px 0;
    border: 1px solid #ddd;
}

.purchase-item-wrap > div,
.purchase-item-wrap > a {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.purchase-item-wrap .button.info {
    width: calc(100% - 160px);
    margin-right: 10px;
    padding: 10px;
}

.purchase-item-wrap .uploader {
    width: 150px;
    text-align: center;
}

.purchase-item-wrap .uploader .upload-item-add {
    width: 130px;
    height: 130px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
    position: relative;
}

.purchase-item-wrap .uploader .upload-item-add p {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.purchase-item-wrap .uploader .button-wrap {
    margin-top: 10px;
    text-align: center;
}

.purchase-item-wrap .uploader .button.download {
    line-height: 20px;
    font-size: 0;
}

.purchase-item-wrap .uploader .button.download * {
    vertical-align: middle;
}

.purchase-item-wrap .uploader .button.download span {
    font-size: 16px;
}

.container-inner .control-button-wrap {
    margin: -10px 5px 20px 5px;
}

.purchase-item-wrap .button .text-wrap * {
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}

.purchase-item-wrap .text-wrap .title {
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

.purchase-item-wrap .text-wrap .content {
    width: calc(100% - 200px);
    color: #888;
    font-size: 16px;
    text-align: right;
    word-break: break-word;
}

.purchase-item-wrap .text-wrap.comment .content {
    height: 60px;
    overflow: hidden;
}

@media (max-width: 840px) {
    .reward-box {
        margin: 10px;
    }

    .purchase-item-box {
        margin: 10px;
    }

    .purchase-item-wrap .text-wrap .title {
        width: 100px;
    }

    .purchase-item-wrap .text-wrap .content {
        width: calc(100% - 100px);
    }
}
