.table-wrap .column.category {
    width: 10%;
}

.table-wrap .column.title {
    width: 30%;
}

.table-wrap .column.status {
    width: 10%;
}

.table-wrap .column.start-date {
    width: 15%;
}

.table-wrap .column.end-date {
    width: 15%;
}

.table-wrap .column.created-at {
    width: 20%;
    text-align: right;
}


@media (max-width: 840px) {
    .table-wrap .column.category {
        width: 20%;
    }

    .table-wrap .column.title {
        width: 30%;
    }

    .table-wrap .column.status {
        display: none;
    }

    .table-wrap .column.start-date {
        width: 25%;
    }

    .table-wrap .column.end-date {
        width: 25%;
    }

    .table-wrap .column.created-at {
        display: none;
    }
}
