.table-wrap .column.title {
    width: 30%;
}
.table-wrap .column.status {
    width: 10%;
}

.table-wrap .column.start-date {
    width: 20%;
}
.table-wrap .column.end-date {
    width: 20%;
}

.table-wrap .column.created-at {
    width: 20%;
    text-align: right;
}
