.table-wrap .row {
    background: none;
    color: #fff;
}

.table-wrap .row-title:after {
    background: #fff;
}

.table-wrap .column.title {
    width: calc(100% - 180px);
}

.table-wrap .column.created-at {
    width: 180px;
    text-align: right;
}
