
.login-container {
    color: #fff;
}
.login-container h3.title {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 600;
}

.login-container .form-wrap {
    margin: 10px 50px;
}

.login-container .control-button-wrap {
    line-height: 20px;
    font-weight: 600;
    margin: 0 50px;
}

.login-container .control-button-wrap a {
    margin: 3px;
}

.login-container .control-button-wrap span {
    font-size: 16px;
    color: #E2E8F0;
}

.login-container .button-wrap {
    margin: 20px 0;
}

.login-container .button-wrap .button {
    color: #fff;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 100px;
    font-weight: 400;
    background: #FF7A00;
}

.form-wrap .input-title {
    color: #fff;
}

.form-wrap .input-wrap input:not([hidden]):not([type=checkbox]):not([type=radio]),
.form-wrap .input-wrap textarea,
.form-wrap .input-wrap select {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    line-height: 35px;
}
