@keyframes mainMapSlideUp {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}

@keyframes mainMapSlideDown {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

#container {
    padding-bottom: 40px;
}

#container .section {
    position: relative;
    overflow: hidden;
}

.section .page-inner {
    width: 1440px;
    position: relative;
    text-align: left;
}

.section .page-sub-title {
    margin-top: 60px;
}

.section .page-inner {
    padding-top: 0;
}

.section .page-inner .container-wrap {
    line-height: normal;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.section .page-inner .button-wrap {
    line-height: normal;
    margin: 20px 0 40px 0;
}

.section .page-inner .button-wrap .button.more {
    line-height: 20px;
    position: relative;
}

.section .page-inner .button-wrap .button.more * {
    vertical-align: middle;
}

.section .page-inner .button-wrap .button.more:hover:after {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background: #333;
}

@keyframes headerSlideOut {
    from {
        top: -60px;
    }

    to {
        top: 0;
    }
}

/*
slider 페이지
 */

#page-start .slider-box {
    position: relative;
}

#page-start .main-slider-wrap .slick .slick-item {
    height: 450px;
}

#page-start .main-slider-wrap .slider-box.pc-only {
    display: block !important;
}

#page-start .overlap-text-box {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#page-start .overlap-text-box .overlap-text-wrap {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#page-start .overlap-text-box .text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 30px;
    text-align: left;
    line-height: 45px;
    color: #fff;
}

#page-start .overlap-text-box .text-wrap p {
    font-size: 40px;
    font-weight: 400;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -2px;
}

#page-media .page-sub-title {
    padding: 0 8px 0 5px;
    display: inline-block;
    position: relative;
}

#page-media .page-sub-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: #FF7A00;
}

.scroll-control-button-wrap {
    position: absolute;
    right: 10px;
    top: 65px;
    font-size: 0;
}

.scroll-control-button-wrap .button {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
}

.scroll-control-button-wrap .button img {
    vertical-align: middle;
}

.scroll-horizontal-wrap {
    overflow-x: scroll;
    font-size: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#page-media .content-box.relation {
    position: relative;
}

#page-media .content-box.relation .content-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#page-media .content-box.relation .content-wrap-inner {
    height: 313px;
    font-size: 0;
}

#page-media .content-box.relation .content-media-item {
    width: 170px;
    height: 303px;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    overflow: hidden
}

#page-media .content-box.relation .content-media-item .time-string {
    font-size: 16px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 10px;
    left: 10px;
}

#page-media .content-box.relation .content-media-item video {
    width: 100%;
    height: 100%;
}

.content-box {
    position: relative;
}

.content-item {
    width: 218px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.content-item .image-item-wrap {
    height: 250px;
    line-height: 250px;
    overflow: hidden;
    position: relative;
}

.content-item .text-item-wrap {
    margin: 8px;
}

.content-item .image-item-wrap .image-item {
    height: 100%;
}

.content-item:hover .image-item {
    position: absolute;
    right: 0;
    left: 0;
    top: -12px;
    bottom: -12px;
    height: 110%;
    animation-duration: 0.2s;
    animation-name: wideUp;
    animation-fill-mode: both;
}


.content-item p,
.content-item div {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #fff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content-item .text-item-wrap {
    margin: 8px;
}

.content-item p.item-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.content-item p.item-date {
    font-weight: 200;
}

#page-media .content-box.artists .content-item {
    width: 218px;
}

#page-media .content-item .image-item-wrap {
    height: 248px;
    line-height: 256px;
}

#page-intro .page-title {
    font-size: 70px;
    font-weight: 600;
    line-height: 38px;
}

#page-intro .page-sub-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    margin: 40px 0;
}

#page-intro .content-box {
    font-size: 0;
}

#page-intro .content-wrap {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

#page-intro .content-wrap.image {
    text-align: right;
    padding-right: 80px;
    box-sizing: border-box;
}

#page-intro .content-wrap.image img {
    width: 320px;
}

#page-intro .content-wrap.list {
    padding: 0 40px 0 100px;
    box-sizing: border-box;
}

#page-intro .content-wrap.list li {
    padding: 30px 20px;
    margin-top: 20px;
}

#page-intro .content-wrap.list li.wrap-fill {
    border-radius: 20px;
    background: #FF7A00;
}

#page-intro .content-wrap.list li.wrap-line {
    border-radius: 20px;
    border: 2px solid #FF7A00;
}

#page-intro .content-wrap.list li * {
    color: #fff;
    font-size: 18px;
}

#page-intro .content-wrap.list li p.title {
    font-weight: 400;
}

#page-intro .content-wrap.list li p.content {
    margin-top: 40px;
}

.page-popup {
    width: 450px;
    line-height: normal;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    background: #121114;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 100;
    border: 1px solid #E2E8F0;
    overflow: hidden;
}

.page-popup .interface {
    height: 40px;
    line-height: 40px;
    text-align: right;
    background: #232127;
    position: relative;
}

.page-popup .interface .button.close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.page-popup .interface .button.close * {
    display: inline-block;
    vertical-align: middle;
}

.page-popup .popup-box {
    position: relative;
}

.page-popup .slider-wrap {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.page-popup .slider-wrap .slick-item {
    height: 600px;
    display: inline-block;
}

.page-popup .popup-inner .button-wrap {
    height: 60px;
    line-height: 60px;
    background: #FF7A00;
    text-align: center;
}

.page-popup .popup-inner .button-wrap a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

@media (max-width: 840px) {
    #page-start .main-slider-wrap .slider-box.pc-only {
        display: none !important;
    }

    #page-start .main-slider-wrap .mobile-only {
        display: block !important;
    }

    #page-start .overlap-text-box .text-wrap {
        max-width: calc(100% - 40px);
    }

    .page-popup {
        max-width: calc(100% - 40px);
    }

    .page-popup .slider-wrap .slick-item {
        max-height: calc(100vh - 140px);
    }

    #page-intro .content-wrap.image {
        text-align: center;
        padding: 0;
    }

    #page-intro .content-wrap.image img {
        height: 400px;
    }

    #page-intro .content-wrap {
        width: 100%;
        display: block;
    }

    #page-intro .page-title {
        font-size: 50px;
    }

    #page-intro .content-wrap.list {
        padding: 0 40px 0 40px;
    }

    #page-intro .content-wrap.list ul {
        padding: 10px;
    }

    .section .page-inner {
        width: 100%;
    }

    #page-media .content-box.previous-project {
        font-size: 0;
    }

    #page-media .content-box.previous-project .content-item {
        width: calc(33.3% - 22px);
        box-sizing: border-box;
        margin: 10px;
    }

    #page-media .content-box.previous-project .content-item .image-item-wrap {
        height: 37vw;
    }
}

@media (max-width: 600px) {
    #page-media .content-box.previous-project .content-item {
        width: calc(50% - 22px);
        box-sizing: border-box;
        margin: 10px;
    }

    #page-media .content-box.previous-project .content-item .image-item-wrap {
        height: 53vw;
    }
}
