@keyframes mainMapSlideUp {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}

@keyframes mainMapSlideDown {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

#container {
    padding-bottom: 40px;
}

#container .section {
    position: relative;
    overflow: hidden;
}

.section .page-inner {
    width: 1200px;
    position: relative;
    padding-top: 60px;
    text-align: left;
}

.section .page-inner.whole-page {
    padding-top: 0;
}

.section .page-inner .container-wrap {
    line-height: normal;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.section .page-inner .button-wrap {
    line-height: normal;
    margin: 20px 0 40px 0;
}

.section .page-inner .button-wrap .button.more {
    line-height: 20px;
    position: relative;
}

.section .page-inner .button-wrap .button.more * {
    vertical-align: middle;
}

.section .page-inner .button-wrap .button.more:hover:after {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background: #333;
}

@keyframes headerSlideOut {
    from {
        top: -60px;
    }

    to {
        top: 0;
    }
}

/*
slider 페이지
 */

#page-start .slider-box {
    position: relative;
}

#page-start .main-slider-wrap .slick .slick-item {
    height: 450px;
}

#page-start .overlap-text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

#page-start .overlap-text-box .overlap-text-wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#page-start .overlap-text-box .text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 30px;
    text-align: left;
    line-height: 45px;
    color: #fff;
}

#page-start .overlap-text-box .text-wrap p {
    font-size: 40px;
    font-weight: 400;
    white-space: pre-wrap;
    word-break: break-word;
    letter-spacing: -2px;
}

#page-media .page-sub-title {
    padding: 0 8px 0 5px;
    display: inline-block;
    position: relative;
}

#page-media .page-sub-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background: #FF7A00;
}

#page-media .content-box.relation .slick .slick-item {
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
}

#page-media .content-box.relation .slick .slick-item .time-string {
    font-size: 16px;
    color: white;
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 10px;
}

#page-media .content-box.project .slick .slick-item {
    height: 340px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    overflow: hidden;
}


#page-media .content-box.previous-project .content-item {
    width: calc(16% - 20px);
    height: 340px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

#page-media .content-box.artists .slick .slick-item {
    height: 320px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    overflow: hidden;
    display: inline-block;
}

#page-media .slick-item .image-item,
#page-media .content-item .image-item {
    height: 250px;
    line-height: 200px;
}

#page-media .slick-item p,
#page-media .content-item p {
    font-size: 18px;
    padding: 0 10px;
    line-height: 25px;
    text-align: left;
    color: #fff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#page-media .slick-item p.item-date {
    font-size: 13px;
}

#page-media .slick-item p.item-title,
#page-media .content-item p.item-title {
    font-weight: 600;
}

#page-intro .page-title {
    font-size: 40px;
}

#page-intro .page-sub-title {
    text-align: center;
}

#page-intro .content-box {
    font-size: 0;
}

#page-intro .content-wrap {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

#page-intro .content-wrap.image {
    text-align: right;
    padding-right: 60px;
    box-sizing: border-box;
}

#page-intro .content-wrap.image img {
    height: 800px;
}

#page-intro .content-wrap.list li {
    padding: 30px 20px;
    margin-top: 20px;
}

#page-intro .content-wrap.list li.wrap-fill {
    border-radius: 20px;
    background: #FF7A00;
}

#page-intro .content-wrap.list li.wrap-line {
    border-radius: 20px;
    border: 2px solid #FF7A00;
}

#page-intro .content-wrap.list li * {
    color: #fff;
    font-size: 18px;
}

#page-intro .content-wrap.list li p.title {
    font-weight: 400;
}

#page-intro .content-wrap.list li p.content {
    margin-top: 40px;
}

.page-popup {
    width: 450px;
    line-height: normal;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 100;
    border-radius: 20px;
    overflow: hidden;
}

.page-popup .interface {
    height: 40px;
    line-height: 40px;
    text-align: right;
    background: #232127;
    position: relative;
}

.page-popup .interface .button.close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.page-popup .interface .button.close * {
    display: inline-block;
    vertical-align: middle;
}

.page-popup .popup-box {
    position: relative;
}

.page-popup .slider-wrap {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.page-popup .slider-wrap .slick-item {
    height: 600px;
    display: inline-block;
}

.page-popup .popup-inner .button-wrap {
    height: 60px;
    line-height: 60px;
    background: #FF7A00;
    text-align: center;
}

.page-popup .popup-inner .button-wrap a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

@media (max-width: 840px) {
    #page-start .overlap-text-box .text-wrap {
        max-width: calc(100% - 40px);
    }

    .page-popup {
        max-width: calc(100% - 40px);
    }

    .page-popup .slider-wrap .slick-item {
        max-height: calc(100vh - 140px);
    }

    #page-intro .content-wrap.image {
        text-align: center;
        padding: 0;
    }

    #page-intro .content-wrap.image img {
        height: 400px;
    }

    #page-intro .content-wrap {
        width: 100%;
        display: block;
    }

    #page-intro .content-wrap.list ul {
        padding: 10px;
    }
    .section .page-inner {
        width: 100%;
    }
}
