.popup {
    border: 1px solid #E2E8F0;
    background: #121114;
    color: #fff;
}

.popup-wrap textarea {
    background: none;
    color: #fff;
}

.popup-wrap .control-button-wrap.absolute {
    background: #121114;
}
