.container-inner  {
    min-height: auto;
}
.container-inner > div {
    min-height: 400px;
}

.uploader.artist_profile .upload-item-add,
.uploader.artist_profile .upload-item {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
}

.form-wrap .input-wrap input:not([type=checkbox]),
.form-wrap .input-wrap textarea {
    width: 100%;
    font-weight: 200;
}

.form-wrap .input-wrap .uploader,
.form-wrap .input-wrap input:not([type=checkbox]),
.form-wrap .input-wrap textarea {
    width: calc(100% - 40px);
    margin: 10px 20px 20px 20px;
}

.container-inner > div .button-wrap {
    padding-top: 20px;
}

.container-inner > div .button-wrap .button {
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

.form-wrap .input-wrap.inline .input-title {
    width: auto;
}
