.container-inner > div input, .container-inner > div textarea {
    border: none;
    width: 100%;
    margin: 0;
}

.container-inner > div .row .column.title {
    width: 100%;
}

.container-inner > div .text-wrap .content {
    min-height: 400px;
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
}

.container-inner > div .button-wrap {
    padding-top: 20px;
}

.container-inner > div .button-wrap .button {
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}
