.purchase-item-box {
    font-size: 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    display: inline-block;
    width: 800px;
    margin-bottom: 20px;
}

.reward-wrap p {
    font-size: 18px;
    color: #fff;
}

.reward-wrap .project-title {
    font-size: 20px;
    color: #FF7A00;
    font-weight: 600;
}

.reward-wrap .title {
    font-size: 20px;
    font-weight: 400;
}

.reward-wrap .price {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
}

.reward-wrap > div {
    display: inline-block;
    vertical-align: top;
}

.reward-wrap .image-wrap {
    width: 100px;
    height: 100px;
}

.reward-wrap .content-wrap {
    margin-left: 20px;
    width: calc(100% - 120px);
    text-align: left;
}

.purchase-item-box .line {
    margin-top: 10px;
}

.container-inner .button-wrap {
    text-align: right;
    margin-top: 10px;
}

.container-inner .artist-box {
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-inner .artist-box .image-item-wrap {
    width: 100px;
    height: 100px;
    display: flex;
    flex-shrink: 0;
}

.container-inner .artist-box .text-wrap {
    display: flex;
    flex: 1;
    margin: 0 20px;
}

.container-inner .artist-box .text-wrap p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.container-inner .artist-box .button {
    display: flex;
    flex-shrink: 0;
}

.container-inner .button {
    margin: 0 3px;
    line-height: normal;
}

.container-inner .button.button-fill {
    padding: 8px 20px;
}

.container-inner .button.button-line {
    padding: 6px 18px;
}

.purchase-item-wrap,
.purchase-wrap {
    margin: 10px 0;
}

.container-inner .text-wrap * {
    display: inline-block;
    line-height: 30px;
}

.container-inner .text-wrap .title {
    width: 25%;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
}

.container-inner .text-wrap .content {
    width: 75%;
    color: #888;
    font-size: 16px;
    text-align: right;
}

#container p.content {
    word-break: break-all;
}

#container .container-inner .text-wrap.comment .content {
    min-height: 100px;
}

.button.button-fill.refunded {
    pointer-events: none;
    cursor: default;
    background: #666;
}

@media (max-width: 840px) {
    .container-inner .container-wrap {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .purchase-item-box {
        width: 100%;
    }
}
